@font-face {
    font-family: Iceland-Regular;
    src: url(./assets/fonts/Iceland-Regular.ttf);
}

@font-face {
    font-family: Big-Shoulders-Display;
    src: url(./assets/fonts/BigShouldersDisplay-VariableFont_wght.ttf);
}